include ../heading/heading

mixin services(heading, servicesGroup, services)
  #services.services.scrollspy.white
    .services__heading
      +heading({
        level: 'h2',
        heading: heading,
        color: 'grey-text text-darken-4',
      })

    ul.services__tabs.tabs
      each item in servicesGroup
        li.services__tab.tab
          if(servicesGroup[0] === item)
            a(href=`#${item.id}` class="active")=item.name
          else
            a(href=`#${item.id}`)=item.name

    each item in servicesGroup
      div(id=item.id)
        .services__cards
          each service in services
            if(service.type === item.id)
              .services__card.card.hoverable
                .card-image.waves-effect.waves-block
                  img(class="activator" alt=service.name src=service.image)

                .card-content
                  span.card-title.activator.grey-text.text-darken-4=service.name
                    i.material-icons.right more_vert

                  p
                    a(href="#order") To order

                .card-reveal
                  span.card-title.grey-text.text-darken-4=service.name
                    i.material-icons.right close

                  p=service.description