include heading
include info

mixin contacts({ heading, info, socialNetworks, map })
  #contacts.contacts.scrollspy.white
    .contacts__heading
      +heading({
        level: 'h2',
        heading: heading,
        color: 'grey-text text-darken-4',
      })

    .contacts__items
      .contacts__items-group
        +info(info)

        .contacts__social-networks
          each item in socialNetworks
            a(class="contacts__link btn-floating" href=item.link)
              img(class="contacts__image" src=item.image, alt=item.name)

      iframe(class="contacts__map"
        src=map
        allowfullscreen=""
        aria-hidden="false"
        tabindex="0"
      )