mixin header({ info, logo, sections })
  header.header
    .header__info.white
      div(class="header__info-item")
        i(class="header__info-icon material-icons orange-text text-lighten-2") home
        | #{info.address}

      a(class="header__info-item" href=`tel: ${info.phone}`)
        i(class="header__info-icon material-icons orange-text text-lighten-2") phone
        | #{info.phone}

      a(class="header__info-item" href=`mailto: ${info.email}`)
        i(class="header__info-icon material-icons orange-text text-lighten-2") email
        | #{info.email}

      div(class="header__info-item")
        i(class="header__info-icon material-icons orange-text text-lighten-2") work
        | #{info.workingHours}

    nav(class="nav-extended indigo darken-2")
      div(class="nav-wrapper")
        a(href="#" class="brand-logo")
          img(class="header__logo" alt="logo", src=logo)

        a(href="#" data-target="mobile-demo" class="sidenav-trigger")
          i(class="material-icons") menu

        ul(id="nav-mobile" class="right hide-on-med-and-down")
          each item in sections
            li
              a(class="header__link waves-effect waves-light" href=item.link)=item.name

          li
            a(class="waves-effect waves-light btn green lighten-2" href="#") to order

        ul(class="sidenav grey lighten-4" id="mobile-demo")
          each item in sections
            li
              a(class="header__link waves-effect waves-light" href=item.link)=item.name

          li
            a(class="waves-effect waves-light btn green lighten-2") to order